---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Back end</h2>
		<p>Un développeur back-end est un professionnel de l'informatique qui se concentre 
			sur la partie "cachée" des applications et des sites web. Il travaille sur la logique métier, la gestion des données, et les serveurs.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Linux</h2>
		<p>Je travaille sous environnement Linux. Linux est bien plus qu'un simple système d'exploitation. C'est un exemple d'une communauté 
			mondiale collaborative qui promeut les valeurs de l'open source. Linux offre une alternative puissante et flexible aux systèmes d'exploitation propriétaires,</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Symfony / Twig</h2>
		<p>L'association de Twig et Symfony permet de se passer d'un développement front-end distinct en générant des pages web complètes côté serveur, y compris la logique, la présentation, et les interactions de base.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
